#logo{
  height: 40px;
  width: 75px;
}
.left{
  width: 20%;
  float: left;
}

.content {
  padding-left: 20%;
}

.input-group .form-control{
  width: 50%;
  float: right;
}

.input-group{
  padding-bottom: 10px;
}

.incon-pencil{
  background-color: blue;
}

.edit{
  list-style: none;
}

.edit li{
  display: inline-block;
}
.form-control{
  margin-bottom: 5px;

}
.form-control div input{
  margin-bottom: 5px;
  width: 40%;

}
.form-control div select{
  margin-bottom: 5px;
  width: 40%;
}
.debutemail{

}
.finemail{
margin-left: 4px;
}
#top .navbar {

    height: 60px;
}
.plus{
  width: 20px;
  height: 40px;

}
.icon-plus{
  text-decoration: none;
}
.rol{
  padding-left: 15px;
}
.bouttons{
  padding-right: 15px;
}
