<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"
              />
         <link rel="stylesheet" type="text/css" href="css/mystyle.css"
              />
          
    </head>
    <body ng-app="myApp" ng-controller="InscriptionController">
        <div  class="col-md-6 col-sm-6 spacer">
            <div class="panel-info" > 
                <div class="panel-heading">Insrciption d'un etudiant 
                    <div class="panel-body" >
                        <div ng-if="mode.value=='form'">
            <form >
                
                <div class="form-group"> 
                    <label class="control-label"> Nom :</label>
                    <input class="form-control" type="text" ng-model="etudiant.nom" placeholder="Your User Name"/>
                    <span ng-if="errors" class="alert-danger"> {{errors.nom}}</span>
                </div>
                <div class="form-group"> 
                    <label class="control-label"> Prenom :</label>
                    <input class="form-control" type="text" ng-model="etudiant.prenom" placeholder="Your User Name"/>
                    <span ng-if="errors" class="alert-danger"> {{errors.prenom}} </span>
                </div>
                
                <div class="form-group"> 
                    <label class="control-label"> Date Naissance :</label>
                    <input class="form-control" type="date" ng-model="etudiant.dateNaissance" placeholder="Your User Name"/>
                    <span ng-if="errors" class="alert-danger"> {{errors.dateNaissance}}</span>
                </div>
                
                
                <div> 
                    
                    <button class="btn btn-primary"   ng-click="saveEtudiant()">Save</button>
                </div>
            </form>
                            </div>
        
        
        
        </div>
                    
                    
                    <div ng-if="mode.value=='confirm'">
                        <div class="alert-secondary"> Confirmation : l'etudiant a été insrit avec succes</div>
                      <div class="form-group"> 
                    <label class="control-label"> ID :</label>
                     <label class="control-label">{{etudiant.idEtudiant}}</label>
                </div>  
                         <div class="form-group"> 
                    <label class="control-label"> Nom :</label>
                     <label class="control-label">{{etudiant.nom}}</label>
                </div>  
                        
                         <div class="form-group"> 
                    <label class="control-label"> Prenom :</label>
                     <label class="control-label">{{etudiant.prenom}}</label>
                </div>  
                        
                    </div>
                    </div>
            </div>
                
            
            
            
            
        </div>
        
        
        
        
        
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/myApp.js"></script>
        
        
    </body>
</html>
