<div class="left" id="sidebar-menu" data-th-fragment="sidebar-menu">
<div class="media user-media well-small">
                  <a class="user-link" href="#">
                    <img class="media-object img-thumbnail user-img" alt="User Picture" src="/assets/img/user.gif">
                  </a>
                  <br>
                  <div class="media-body">
                      <h5 class="media-heading"> Alvine Momo</h5>
                      <ul class="list-unstyled user-info">
                          <li>
                            <a class="btn btn-success btn-xs btn-circle" style="width: 10px;height: 12px;"></a> Online
                          </li>
                        </ul>
                    </div>
                    <br>
                  </div>
                  <ul id="menu" class="collapse menu">
                    <li class="panel active">
                      <a href="/home">
                        <i class="icon-home"></i> Home
                      </a>
                    </li>
                    <li class="panel ">
                      <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#component-nav">
                        <i class="icon-tasks"> </i> EMPLOYEE MANAGEMENT

                        <span class="pull-right">
                          <i class="icon-angle-left"></i>
                        </span>
                       &nbsp; <span class="label label-default">2</span>&nbsp;
                      </a>
                      <ul class="collapse" id="component-nav">
                        <li class=""><a href="/addemploye"><i class="icon-angle-right"></i> Ajouter Employe </a></li>
                         <li class=""><a href="/employelist"><i class="icon-angle-right"></i> Liste Employe </a></li>
                       </ul>
                     </li>
                     <li class="panel ">
                       <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#formRol">
                        <i class="icon-pencil"></i> ROLE MANAGEMENT
                        <span class="pull-right">
                            <i class="icon-angle-left"></i>
                        </span>
                          &nbsp; <span class="label label-success">2</span>&nbsp;
                        </a>
                        <ul class="collapse" id="formRol">
                          <li class=""><a href="/addprofil"><i class="icon-angle-right"></i> Add role </a></li>
                          <li class=""><a href="/profillist"><i class="icon-angle-right"></i> List Role </a></li>
                        </ul>

                  </li>

                <li class="panel">
                    <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#pagesr-nav">
                        <i class="icon-table"></i>USER MANAGEMENT
                        <span class="pull-right">
                            <i class="icon-angle-left"></i>
                        </span>
                          &nbsp; <span class="label label-info">3</span>&nbsp;
                    </a>
                    <ul class="collapse" id="pagesr-nav">
                      <li class=""><a href="/adduser"><i class="icon-angle-right"></i> Add User </a></li>
                       <li class=""><a href="/userlist"><i class="icon-angle-right"></i> List Users </a></li>
                       <li class=""><a href="roleUser.html"><i class="icon-angle-right"></i> Affecter Role aux Users </a></li>
                    </ul>
                </li>

               <li class="panel">
                    <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#admin">
                        <i class="icon-table"></i>ADMIN MANAGEMENT
                        <span class="pull-right">
                            <i class="icon-angle-left"></i>
                        </span>
                            &nbsp; <span class="label label-info">2</span>&nbsp;
                    </a>
                    <ul class="collapse" id="admin">
                      <li class="panel">
                        <a href="#" data-parent="#admin" data-toggle="collapse" class="accordion-toggle" data-target="#student">
                          <i class="icon-angle-right"></i>Students Manegement
                          <span class="pull-right btn-m-r-10">
                            <span class="label label-info">2</span>
                            <i class="icon-angle-left"></i>
                          </span>
                        </a>
                        <ul class="collapse" id="student">
                          <li><a href="/addeleve"><i class="icon-angle-right"></i>Nouvel Elève</a></li>
                          <li><a href="/elevelist"><i class="icon-angle-right"></i>Liste des élèves</a></li>
                        </ul>
                      </li>

                      <li class="panel">
                        <a href="#" data-parent="#admin" data-toggle="collapse" class="accordion-toggle" data-target="#entries">
                          <i class="icon-angle-right"></i>Student Entries
                          <span class="pull-right btn-m-r-10">
                            <span class="label label-info">2</span>
                            <i class="icon-angle-left"></i>
                          </span>
                        </a>
                        <ul class="collapse" id="entries">
                          <li><a href="/addinscription"><i class="icon-angle-right"></i>Nouvelle Inscription</a></li>
                          <li><a href="/inscriptionlist"><i class="icon-angle-right"></i>Liste des Inscriptions</a></li>
                          
                        </ul>
                      </li>
                    </ul>
                </li>
                
                <li class="panel">
                    <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#tresorerie">
                        <i class="icon-table"></i>GESTION DE LA TRESORERIE
                        <span class="pull-right">
                            <i class="icon-angle-left"></i>
                        </span>
                            &nbsp; <span class="label label-info">2</span>&nbsp;
                    </a>
                    <ul class="collapse" id="tresorerie">
                      <li class="panel">
                        <a href="#" data-parent="#tresorerie" data-toggle="collapse" class="accordion-toggle" data-target="#compteTresorerie">
                          <i class="icon-angle-right"></i>Gestion des Comptes Tresorerie
                          <span class="pull-right btn-m-r-10">
                            <span class="label label-info">3</span>
                            <i class="icon-angle-left"></i>
                          </span>
                        </a>
                        <ul class="collapse" id="compteTresorerie">
                          <li><a href="/addcompte"><i class="icon-angle-right"></i>Ajouter Compte Tresorerie</a></li>
                          <li><a href="/comptelist"><i class="icon-angle-right"></i>Lister Compte Tresorerie</a></li>
                          <li><a href="listStudents.html"><i class="icon-angle-right"></i>Rapports</a></li>
                        </ul>
                      </li>
                      <li class="panel">
                        <a href="#" data-parent="#tresorerie" data-toggle="collapse" class="accordion-toggle" data-target="#mvtFinancier">
                          <i class="icon-angle-right"></i>Gestion Mouvements Financiers
                          <span class="pull-right btn-m-r-10">
                            <span class="label label-info">3</span>
                            <i class="icon-angle-left"></i>
                          </span>
                        </a>
                        <ul class="collapse" id="mvtFinancier">
                          <li class="panel">
                            <a  href="#" data-parent="#mvtFinancier" data-toggle="collapse" class="accordion-toggle" data-target="#typeMvtFinancier">
                              <i class="icon-angle-right"></i>Gestion Type Mouvement Financier
                              <span class="pull-right btn-m-r-10">
                                <span class="label label-info">2</span>
                                <i class="icon-angle-left"></i>
                              </span>
                            </a>
                            <ul class="collapse" id="typeMvtFinancier">
                              <li><a href="/addtypemvt"><i class="icon-angle-right"></i>Ajouter Type Mouvement Financier </a></li>
                              <li><a href="/typemvtlist"><i class="icon-angle-right"></i>Lister Type Mouvement Financier </a></li>
                            </ul>
                          </li>
                          <li class="panel">
                            <a href="#" data-parent="#mvtFinancier" data-toggle="collapse" class="accordion-toggle" data-target="#MvtFinancier">
                              <i class="icon-angle-right"></i>Gestion Mouvement Financier
                              <span class="pull-right btn-m-r-10">
                                <span class="label label-info">2</span>
                                <i class="icon-angle-left"></i>
                              </span>
                            </a>
                            <ul class="collapse" id="MvtFinancier">
                              <li><a href="/addmvt"><i class="icon-angle-right"></i> Ajouter Mouvement Financier</a></li>
                              <li><a href="/mvtlist"><i class="icon-angle-right"></i> Lister Mouvement Financier</a></li>
                            </ul>
                          </li>
                          <li>
                            <a href="#" data-parent="#mvtFinancier" data-toggle="collapse" class="accordion-toggle" data-target="#operationFinancier">
                              <i class="icon-angle-right"></i>Gestion Operations Financières
                              <span class="pull-right btn-m-r-10">
                                <span class="label label-info">3</span>
                                <i class="icon-angle-left"></i>
                              </span>
                            </a>
                            <ul class="collapse" id="operationFinancier">
                              <li><a href="paiementEntree.html" ><i class="icon-angle-right"></i> Paiement en Entrée</a></li>
                              <li><a href="paiementsortie.html" ><i class="icon-angle-right"></i> Paiement en Sortie</a></li>
                              <li><a href="transfertCompteTresorerie.html" ><i class="icon-angle-right"></i> Transfert Entre Compte Tresorerie</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                </li>




            </ul>
</div>