       <!-- PAGE LEVEL STYLES --><!DOCTYPE html>
       <html xmlns:th="http://www.thymeleaf.org" >
         <head>
           <meta charset="utf-8">

           <meta charset="UTF-8" />
           <title>DAMSS | Accueil </title>
           <meta content="width=device-width, initial-scale=1.0" name="viewport" />
          	<meta content="" name="description" />
          	<meta content="" name="author" />
               <!--[if IE]>
                  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                  <![endif]-->
                  <!-- GLOBAL STYLES -->
               <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css" />
     <link th:href="@{assets/plugins/bootstrap/css/bootstrap.css}"  rel="stylesheet"> 
    <link rel="stylesheet" href="assets/css/main.css" />
     <link  th:href="@{assets/css/main.css}" rel="stylesheet"   />
     
    <link rel="stylesheet" href="assets/css/theme.css" />
    <link  th:href="@{assets/css/theme.css}" rel="stylesheet"  />
    
    <link rel="stylesheet" href="assets/css/MoneAdmin.css" />
     <link th:href="@{assets/css/MoneAdmin.css}" rel="stylesheet"  />
    
    <link rel="stylesheet" href="assets/plugins/Font-Awesome/css/font-awesome.css" />
     <link th:href="@{assets/plugins/Font-Awesome/css/font-awesome.css}" rel="stylesheet"  />
               <!--END GLOBAL STYLES -->

               <!-- PAGE LEVEL STYLES -->
               <link href="assets/css/layout2.css" rel="stylesheet" />
               <link th:href="@{assets/css/layout2.css}" rel="stylesheet" />
               
                  <link href="assets/plugins/flot/examples/examples.css" rel="stylesheet" />
                  <link th:href="@{assets/plugins/flot/examples/examples.css}"  rel="stylesheet" />
                  
                  <link rel="stylesheet" href="assets/plugins/timeline/timeline.css" />
                  
                  <link rel="stylesheet" th:href="@{assets/plugins/timeline/timeline.css}" />
                  
              

                  <link rel="stylesheet" href="assets/css/monStyle.css" />
                  
                  <link th:href="@{assets/css/monStyle.css}" rel="stylesheet"  />

               <!-- END PAGE LEVEL  STYLES -->
                <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
               <!--[if lt IE 9]>
                 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
              <![endif]-->

         </head>
           <!-- BEGIN BODY -->
         <body class="padTop53 " >
          <!-- MAIN WRAPPER -->
          <div id="wrap" >
              <!-- HEADER SECTION -->
           <div data-th-replace="fragment/top-navigation :: top-navigation"></div>
              <!-- End HEADER SECTION -->

              <!-- MENU SECTION -->
             
                 <div data-th-replace="fragment/sidebar-menu :: sidebar-menu"></div>
              
              <!-- END LEFT SECTION -->

              <!-- CONTENT SECTION -->
              <div class="content">
                <div class="inner" style="min-height: 700px;">
                  <div class="row">
                    <div class="col-lg-12" style="height: 100px;">
                      <h4><img src="assets/img/admin.jpg" alt="" id="logo">
                        Admin Home </h4>
                    </div>
                    <hr>
                </div>
                </div>
              </div>
              <!-- END CONTENT SECTION -->

              <!-- RIGTH SECTION -->
              <div class="rigth">

              </div>
              <!-- END RIGHT SECTION -->
              <!-- FOOTER SECTION -->
              <div class="footer">

              </div>
              <!-- END FOOTER SECTION -->
            </div>
            <!-- GLOBAL SCRIPTS -->
           <script th:src="@{assets/plugins/jquery-2.0.3.min.js}" src="assets/plugins/jquery-2.0.3.min.js"></script>
           
            <script th:src="@{assets/plugins/jquery-2.0.3.min.js}" src="assets/plugins/jquery-2.0.3.min.js"></script>
            
            <script th:src="@{assets/plugins/bootstrap/js/bootstrap.min.js}" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
           <script th:src="@{assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js}" src="assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
           <!-- END GLOBAL SCRIPTS -->

           <!-- PAGE LEVEL SCRIPTS -->
           <script th:src="@{assets/plugins/flot/jquery.flot.js}" src="assets/plugins/flot/jquery.flot.js"></script>
           <script th:src="@{assets/plugins/flot/jquery.flot.resize.js}" src="assets/plugins/flot/jquery.flot.resize.js"></script>
           <script th:src="@{assets/plugins/flot/jquery.flot.time.js}" src="assets/plugins/flot/jquery.flot.time.js"></script>
            <script th:src="@{assets/plugins/flot/jquery.flot.stack.js}"  src="assets/plugins/flot/jquery.flot.stack.js"></script>
           <script th:src="@{assets/js/for_index.js}" src="assets/js/for_index.js"></script>

           <!-- END PAGE LEVEL SCRIPTS -->


            <!-- END MAIN WRAPPER SECTION -->
         </body>
         <!-- END BODY SECTION -->
       </html>