
<!-- PAGE LEVEL STYLES --><!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta charset="utf-8">

        <meta charset="UTF-8" />
        <title>DAMSS | Accueil </title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!--[if IE]>
           <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
           <![endif]-->
        <!-- GLOBAL STYLES -->
        <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css" />
        <link th:href="@{assets/plugins/bootstrap/css/bootstrap.css}"  rel="stylesheet"> 
        <link rel="stylesheet" href="assets/css/main.css" />
        <link  th:href="@{assets/css/main.css}" rel="stylesheet"   />

        <link rel="stylesheet" href="assets/css/theme.css" />
        <link  th:href="@{assets/css/theme.css}" rel="stylesheet"  />

        <link rel="stylesheet" href="assets/css/MoneAdmin.css" />
        <link th:href="@{assets/css/MoneAdmin.css}" rel="stylesheet"  />

        <link rel="stylesheet" href="assets/plugins/Font-Awesome/css/font-awesome.css" />
        <link th:href="@{assets/plugins/Font-Awesome/css/font-awesome.css}" rel="stylesheet"  />
        <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--END GLOBAL STYLES -->

        <!-- PAGE LEVEL STYLES -->
        <link href="assets/css/layout2.css" rel="stylesheet" />
        <link th:href="@{assets/css/layout2.css}" rel="stylesheet" />

        <link href="assets/plugins/flot/examples/examples.css" rel="stylesheet" />
        <link th:href="@{assets/plugins/flot/examples/examples.css}"  rel="stylesheet" />

        <link rel="stylesheet" href="assets/plugins/timeline/timeline.css" />

        <link rel="stylesheet" th:href="@{assets/plugins/timeline/timeline.css}" />



        <link rel="stylesheet" href="assets/css/monStyle.css" />

        <link th:href="@{assets/css/monStyle.css}" rel="stylesheet"  />

        <link type="text/css" rel="stylesheet" th:href="@{css/dataTables.bootstrap.css}"  />
        <link href="/assets/plugins/dataTables/dataTables.bootstrap.css" th:href="@{/assets/plugins/dataTables/dataTables.bootstrap.css}" rel="stylesheet" />

        <!-- END PAGE LEVEL  STYLES -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
       <![endif]-->

    </head>
    <!-- BEGIN BODY -->
    <body class="padTop53 " >
        <!-- MAIN WRAPPER -->
        <div id="wrap" >
            <!-- HEADER SECTION -->
            <div data-th-replace="fragment/top-navigation :: top-navigation"></div>
            <!-- End HEADER SECTION -->

            <!-- MENU SECTION -->
            <div data-th-replace="fragment/sidebar-menu :: sidebar-menu"></div>
            <!-- END LEFT SECTION -->

            <!-- CONTENT SECTION -->
            <div class="content">

                <div class="inner" style="min-height: 700px;">

                    <div class="panel-body">
                        <div class="col-lg-12">
                            <center>  <h2> Employee Management </h2></center>
                        </div>

                        <div class="col-lg-12">
                            <h4> List of Employees </h4>
                        </div>
                        <div class="plus">
                            <a href="/addemploye">
                                <i class="icon-plus"></i>
                            </a>
                        </div>
                        <div class="panel panel-default">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Matricule</th>
                                        <th>Fonction</th>
                                        <th>Adresse</th>
                                        <th>No Telephone</th>

                                        <th>Action</th>
                                       

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" th:each="employe : ${employes}">
                                        <td  th:text="${employe.nom}"></td>
                                        <td th:text="${employe.matricule}"></td>
                                         <td th:text="${employe.fonction}"></td>
                                         <td th:text="${employe.adresse}"></td>
                                        <td th:text="${employe.numeroTel}"></td>
                                        
                                        <td>
                                              <ul class="nav edit">
                                                <li>
                                                  <a th:href="@{/editemp/{id}(id=${employe.idemploye})}">
                                                    <i class="icon-pencil"></i>
                                                  </a>
                                                </li>
                                                <li>
                                                  <a sec:authorize="hasRole('ADMIN')" th:href="@{/deleteemp/{id}(id=${employe.idemploye})}">
                                                    <i class="icon-trash"></i>
                                                  </a>
                                                </li>
                                                <li>
                                                  <a th:href="@{/viewemp/{id}(id=${employe.idemploye})}">
                                                    <i class="icon-info-sign"></i>
                                                  </a>
                                                </li>
                                              </ul>
                                            </td>
                                     
                                    </tr>


                                </tbody>
                            </table>

                        </div>
                    </div>


                </div>
            </div>
            <!-- END CONTENT SECTION -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <!-- RIGTH SECTION -->
            <div class="rigth">

            </div>
            <!-- END RIGHT SECTION -->
            <!-- FOOTER SECTION -->
            <div class="footer">

            </div>
            <!-- END FOOTER SECTION -->
        </div>
        <!-- GLOBAL SCRIPTS -->
        <script th:src="@{assets/plugins/jquery-2.0.3.min.js}" src="assets/plugins/jquery-2.0.3.min.js"></script>
        <script th:src="@{assets/plugins/bootstrap/js/bootstrap.min.js}" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script th:src="@{assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js}" src="assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>

        <!-- END GLOBAL SCRIPTS -->

        <!-- PAGE LEVEL SCRIPTS -->
        <script th:src="@{assets/plugins/flot/jquery.flot.js}" src="assets/plugins/flot/jquery.flot.js"></script>
        <script th:src="@{assets/plugins/flot/jquery.flot.resize.js}" src="assets/plugins/flot/jquery.flot.resize.js"></script>
        <script th:src="@{assets/plugins/flot/jquery.flot.time.js}" src="assets/plugins/flot/jquery.flot.time.js"></script>
        <script th:src="@{assets/plugins/flot/jquery.flot.stack.js}"   src="assets/plugins/flot/jquery.flot.stack.js"></script>
        <script th:src="@{assets/js/for_index.js}" src="assets/js/for_index.js"></script>

        <!-- END PAGE LEVEL SCRIPTS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript"  th:src="@{js/jquery.dataTables.js}"  ></script>
        <script type="text/javascript"  th:src="@{js/dataTables.bootstrap.js}"  ></script>

        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
        </script>


        <!-- END MAIN WRAPPER SECTION -->
    </body>
    <!-- END BODY SECTION -->
</html>
