
<!-- PAGE LEVEL STYLES --><!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">

        <meta charset="UTF-8" />
        <title>DAMSS | Accueil </title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!--[if IE]>
           <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
           <![endif]-->
        <!-- GLOBAL STYLES -->
        <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css" />
        <link th:href="@{assets/plugins/bootstrap/css/bootstrap.css}"  rel="stylesheet"> 
        <link rel="stylesheet" href="assets/css/main.css" />
        <link  th:href="@{assets/css/main.css}" rel="stylesheet"   />

        <link rel="stylesheet" href="assets/css/theme.css" />
        <link  th:href="@{assets/css/theme.css}" rel="stylesheet"  />

        <link rel="stylesheet" href="assets/css/MoneAdmin.css" />
        <link th:href="@{assets/css/MoneAdmin.css}" rel="stylesheet"  />

        <link rel="stylesheet" href="assets/plugins/Font-Awesome/css/font-awesome.css" />
        <link th:href="@{assets/plugins/Font-Awesome/css/font-awesome.css}" rel="stylesheet"  />
        <!--END GLOBAL STYLES -->

        <!-- PAGE LEVEL STYLES -->
        <link href="assets/css/layout2.css" rel="stylesheet" />
        <link th:href="@{assets/css/layout2.css}" rel="stylesheet" />

        <link href="assets/plugins/flot/examples/examples.css" rel="stylesheet" />
        <link th:href="@{assets/plugins/flot/examples/examples.css}"  rel="stylesheet" />

        <link rel="stylesheet" href="assets/plugins/timeline/timeline.css" />

        <link rel="stylesheet" th:href="@{assets/plugins/timeline/timeline.css}" />



        <link rel="stylesheet" href="assets/css/monStyle.css" />

        <link th:href="@{assets/css/monStyle.css}" rel="stylesheet"  />

        <!-- END PAGE LEVEL  STYLES -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
       <![endif]-->

    </head>
    <!-- BEGIN BODY -->
    <body class="padTop53 " >
        <!-- MAIN WRAPPER -->
        <div id="wrap" >
            <!-- HEADER SECTION -->
            <div data-th-replace="fragment/top-navigation :: top-navigation"></div>
            <!-- End HEADER SECTION -->

            <!-- MENU SECTION -->
            <div data-th-replace="fragment/sidebar-menu :: sidebar-menu"></div>
            <!-- END LEFT SECTION -->

            <!-- CONTENT SECTION -->
            <div class="content">
                <div class="inner" style="min-height: 700px;">
                  
                    <div class="col-lg-12">
                        <center>  <h2>Employee Management </h2></center>
                    </div>

                    <h4> Add Employee </h4>
                    <form th:object="${employe}" th:action="@{addemploye}" action="#" method="post" style="background-color:#eee;">
                        <div class="row">
                            <div class="col-lg-6">


                                <div class="">
                                    <input class="form-control" id="matricule" type="text" placeholder="Matricule" th:field="*{matricule}" required="true">
                                </div>
                                <div class="">
                                    <input class="form-control" id="ex-phone" type="text" placeholder="Nom" th:field="*{nom}" required="true">
                                </div>
                                <div class="">
                                    <input class="form-control" id="prenom" type="text" placeholder="prenom" th:field="*{prenom}" required="true">
                                </div>
                                <div class="">
                                    <input class="form-control" id="age" type="text" placeholder="Age" th:field="*{age}" required="true">
                                </div>
                                <div class="">
                                    <select class="form-control" name="" th:field="*{fonction}" required="true">
                                        <option value="">Fonction</option>
                                        <option value="Fondateur">Fondateur</option>
                                        <option value="Principal">Principal</option>
                                        <option value="Chef Service Orientation">Chef Service Orientation</option>
                                        <option value="Chef Projet">Chef Projet</option>
                                        <option value="Assistant de Direction">Assistant de Direction</option>
                                        <option value="Agent financier">Agent financier</option>
                                        <option value="Surveillant Général">Surveillant Général</option>
                                        <option value="Responsable Multimédia">Responsable Multimédia</option>
                                        <option value="Enseignant">Enseignant</option>
                                        <option value="Responsable Culture et Loisir">Responsable Culture et Loisir</option>
                                        <option value="Surveillant de Secteur">Surveillant de Secteur</option>
                                        <option value="Infirmier">Infirmier</option>
                                    </select>
                                </div>
                                <div class="">
                                    <input class="form-control" id="ville" type="text" placeholder="Ville" th:field="*{ville}" required="true">
                                </div>
                                <div class="">
                                    <input class="form-control" id="adresse" type="text" placeholder="Adresse" th:field="*{adresse}" required="true">
                                </div>
                                <div class="">
                                    <input type="text" class="form-control" placeholder="email" th:field="*{eMail}" required="true">
                                </div>
                                <div class="">
                                    <input class="form-control" id="telephone" type="text" placeholder="Telephone"th:field="*{numeroTel}" required="true">
                                </div>


                                <div class="">
                                    <input class="form-control" id="nationnalite" type="text" placeholder="Nationnalite" th:field="*{nationalite}" required="true">
                                </div>
                                
                                 <div class="">
                              <input class="form-control" id="nom_quartier_residence" type="text" placeholder="Quartier" th:field="*{nomQuartierResidence}" >
                            </div>
                            </div>
                            <div class="col-lg-6">


                                <div class="">

                                    <label for="">Date Naissance</label>
                                    <input type="date" id="date2" name="date2" class="form-control" th:field="*{dateNaissance}" th:value="*{dateNaissance}" >
                                </div>
                                <div class="">
                                    <input class="form-control" id="lieuNaissance" type="text" placeholder="Lieu de Naissance" th:field="*{lieuNaissance}">
                                </div>
                              <div class="">
                              <select class="form-control" name="" th:field="*{sexe}" required="true">
                                <option value="">Sexe</option>
                                <option value="Femme">Femme</option>
                                <option value="Homme">Homme</option>
                              </select>
                            </div>

                                <div class="">
                                    <select class="form-control" name="" th:field="*{situationMatrimoniale}" >
                                        <option value="">Situation matrimonialle</option>
                                        <option value="Marié (e)">Marié (e)</option>
                                        <option value="Célibataire">Célibataire</option>
                                        <option value="Veuf (veuve)">Veuf (veuve)</option>
                                    </select>
                                </div>
                                <div class="">
                                    <input class="form-control" id="numCNI" type="text" placeholder="Numéro CNI" th:field="*{numeroCNI}" required="true">
                                </div>
                                   <div class="">
                              <label for="">Date Delivrance</label>
                            <input type="date" id="date_delivrance_CNI" name="date" class="form-control" required="true" th:field="*{datedelivranceCNI}" >
                            </div>
                                <div class="">
                                    <label for="">Date expiration</label>
                                    <input type="date" id="date2" name="date2" class="form-control" th:field="*{dateexpirattioonCNI}" required="true">
                                </div>
                               <select class="form-control" id="vacataire"name="" th:field="*{vacataire}">
                                <option value="">Type Employe</option>
                               <option value="N" label="Permanent">Permanent</option>
                                <option value="Y" label="Vacataire">Vacataire</option>
                              </select>
                                <div class="">
                                    <label for="">Date debut Service</label>
                                    <input type="date" id="date3" name="date2" class="form-control" th:field="*{datedebutservice}" >
                                </div>
                                <div class="">
                                </div>
                            </div>
                            <div class="bouttons" style="float:right">

                                <button class="btn btn-danger"><i class="icon-remove icon-white"></i> Cancel</button>
                                <button class="btn btn-success"><i class="icon-plus icon-white"></i> Create</button>
                            </div>

                        </div>
                    </form>
                </div>
                <!-- END CONTENT SECTION -->

                <!-- RIGTH SECTION -->
                <div class="rigth">

                </div>
                <!-- END RIGHT SECTION -->
                <!-- FOOTER SECTION -->
                <div class="footer">

                </div>
                <!-- END FOOTER SECTION -->
            </div>
            <!-- GLOBAL SCRIPTS -->
            <script th:src="@{assets/plugins/jquery-2.0.3.min.js}" src="assets/plugins/jquery-2.0.3.min.js"></script>
            <script th:src="@{assets/plugins/bootstrap/js/bootstrap.min.js}" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
            <script th:src="@{assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js}" src="assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>

            <!-- END GLOBAL SCRIPTS -->

            <!-- PAGE LEVEL SCRIPTS -->
            <script th:src="@{assets/plugins/flot/jquery.flot.js}" src="assets/plugins/flot/jquery.flot.js"></script>
            <script th:src="@{assets/plugins/flot/jquery.flot.resize.js}" src="assets/plugins/flot/jquery.flot.resize.js"></script>
            <script th:src="@{assets/plugins/flot/jquery.flot.time.js}" src="assets/plugins/flot/jquery.flot.time.js"></script>
            <script th:src="@{assets/plugins/flot/jquery.flot.stack.js}"   src="assets/plugins/flot/jquery.flot.stack.js"></script>
            <script th:src="@{assets/js/for_index.js}" src="assets/js/for_index.js"></script>


            <!-- END PAGE LEVEL SCRIPTS -->


            <!-- END MAIN WRAPPER SECTION -->
    </body>
    <!-- END BODY SECTION -->
</html>
