<!-- PAGE LEVEL STYLES --><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">

        <meta charset="UTF-8" />
        <title>DAMSS | Accueil </title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!--[if IE]>
           <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
           <![endif]-->
        <!-- GLOBAL STYLES -->
        <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css" />
        <link th:href="@{assets/plugins/bootstrap/css/bootstrap.css}"  rel="stylesheet"> 
        <link rel="stylesheet" href="assets/css/main.css" />
        <link  th:href="@{assets/css/main.css}" rel="stylesheet"   />

        <link rel="stylesheet" href="assets/css/theme.css" />
        <link  th:href="@{assets/css/theme.css}" rel="stylesheet"  />

        <link rel="stylesheet" href="assets/css/MoneAdmin.css" />
        <link th:href="@{assets/css/MoneAdmin.css}" rel="stylesheet"  />

        <link rel="stylesheet" href="assets/plugins/Font-Awesome/css/font-awesome.css" />
        <link th:href="@{assets/plugins/Font-Awesome/css/font-awesome.css}" rel="stylesheet"  />
        <!--END GLOBAL STYLES -->

        <!-- PAGE LEVEL STYLES -->
        <link href="assets/css/layout2.css" rel="stylesheet" />
        <link th:href="@{assets/css/layout2.css}" rel="stylesheet" />

        <link href="assets/plugins/flot/examples/examples.css" rel="stylesheet" />
        <link th:href="@{assets/plugins/flot/examples/examples.css}"  rel="stylesheet" />

        <link rel="stylesheet" href="assets/plugins/timeline/timeline.css" />

        <link rel="stylesheet" th:href="@{assets/plugins/timeline/timeline.css}" />



        <link rel="stylesheet" href="assets/css/monStyle.css" />

        <link th:href="@{assets/css/monStyle.css}" rel="stylesheet"  />

        <!-- END PAGE LEVEL  STYLES -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
       <![endif]-->

    </head>
    <!-- BEGIN BODY -->
    <body class="padTop53 " >
        <!-- MAIN WRAPPER -->
        <div id="wrap" >
            <!-- HEADER SECTION -->

            <div data-th-replace="fragment/top-navigation :: top-navigation"></div>
            <!-- End HEADER SECTION -->

            <!-- MENU SECTION -->
            <div data-th-replace="fragment/sidebar-menu :: sidebar-menu"></div>
            <!-- CONTENT SECTION -->
            <div class="content">
                <div class="inner" style="min-height: 700px;">
                    <div class="col-lg-12">
                        <center>  <h2>Students Management </h2></center>
                    </div>
                    <hr>
                    <h4> Add Student </h4>
                    <form class="form-control" th:object="${eleve}" th:action="@{addeleve}" action="#" method="post" style="background-color:#eee;" >
                        <div class="row">
                            <div class="col-lg-6">

                                <div class="">
                                    <input class="form-control" id="matricule" th:field="*{matricule}" type="text" placeholder="Matricule" required="required">
                                </div>
                                <div class="">
                                    <input class="form-control" id="nom" type="text" th:field="*{nom}" placeholder="Nom" required="required">
                                </div>
                                <div class="">
                                    <input class="form-control" id="prenom" type="text" th:field="*{prenom}" placeholder="Prenom" required="required">
                                </div>

                              
                                <div class="">
                                    <input class="form-control" id="departement_origine" th:field="*{departementOrigine}" type="text" placeholder="Departement d'origine" required="required">
                                </div>
                                <div class="">
                                    <input class="form-control" id="nationnalite" type="text" th:field="*{nationnalite}" placeholder="Nationnalite" required="required">
                                </div>
                                <div class="">
                                    <input class="form-control" id="quartier" type="text" th:field="*{quartier}" placeholder="Quartier" required="required">
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="media user-media well-small">
                                    <a class="user-link" href="#">
                                        <img class="media-object img-thumbnail user-img" alt="User Picture" style="width:150px; height:150px;" src="assets/img/user.gif">
                                    </a>
                                    <br>

                                    <br>
                                </div>
                                <div class="" style="margin-top: 40px;">
                                    <label for="">Date Naissance</label>
                                    <input type="date" id="date2" name="date2" th:field="*{dateNaissance}" class="form-control">
                                </div>
                                <div class="" >
                                    <input class="form-control" id="lieuNaissance" th:field="*{lieuNaissance}" type="text" placeholder="Lieu de Naissance" >
                                </div>
                                <div class="">
                                    <select class="form-control" name="" th:field="*{sexe}" required="true">
                                <option value="">Sexe</option>
                                <option value="Femme">Femme</option>
                                <option value="Homme">Homme</option>
                              </select>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <ul class="nav nav-tabs">
                                <li class=""><a href="#scolarite" data-toggle="tab"  style="font-weight:bold;" >SCOLARITE</a>  </li>
                                <li class=""><a href="#famille" data-toggle="tab" style="font-weight:bold;" >FAMILLE</a></li>
                                <li class=""><a href="#sante" data-toggle="tab" style="font-weight:bold;" >SANTE</a>  </li>
                                <li class=""><a href="#discipline" data-toggle="tab"  style="font-weight:bold;" >DISCIPLINE</a></li>
                                <li class=""><a href="#comportement" data-toggle="tab" style="font-weight:bold;" >COMPORTEMENT</a>  </li>
                            </ul>

                            <div class="tab-pane fade in " id="scolarite">

                                <div class="">
                                    <input type="date" class="form-control" id="annee_ancienne_inscription" th:field="*{anneeAncienneInscription}" >
                                   

                                </div>
                                <div class="">
                                    <input class="form-control" id="classe_ancienne_inscription" type="text" th:field="*{classeAncienneInscription}" placeholder="Classe Anciènne Inscription" >
                                </div>
                                <div class="">
                                    <input class="form-control" id="etablissement_precedent" type="text" th:field="*{etablissementPrecedent}" placeholder="Etablissement Precedent" >
                                </div>
                                <div class="">
                                   <select class="form-control" name="" th:field="*{statut}" required="true">
                                <option value="">Statut</option>
                                <option value="Actif">Actif</option>
                                <option value="Desactiver">Desactiver</option>
                              </select>
                                </div>

                            </div>
                            <div class="tab-pane fade " id="famille">

                                <div class="">
                                    <input class="form-control" id="nom_pere" type="text" placeholder="Nom du pere" th:field="*{nomPere}" >
                                </div>
                                <div class="">
                                    <input class="form-control" id="nom_mere" type="text" placeholder="Nom de la mere" required="required" th:field="*{nomMere}">
                                </div>
                                <div class="">
                                    <input class="form-control" id="profession_pere" type="text" th:field="*{professionPere}" placeholder="Profession du pere">
                                </div>
                                <div class="">
                                    <input class="form-control" id="profession_mere" type="tel" th:field="*{professionMere}" placeholder="Profession de la mere">
                                </div>
                                <div class="">
                                    <input class="form-control" id="telephone_pere" type="tel" th:field="*{telephonePere}" placeholder="Telephone du pere">
                                </div>
                                <div class="">
                                    <input class="form-control" id="telephone_mere" type="tel" th:field="*{telephoneMere}" placeholder="Telephone de la mere">
                                </div>
                                <div class="">
                                    <input class="form-control" id="telephone_tuteur" type="tel" th:field="*{telephoneTuteur}" placeholder="Telephone du tuteur">
                                </div>
                                <div class="">
                                    <input class="form-control" id="nom_urgence" type="text" th:field="*{nomUrgence}" placeholder="Nom en cas d'Urgence" required="required">
                                </div>
                                <div class="">
                                    <input class="form-control" id="telephone_urgence" type="tel" th:field="*{telephoneUrgence}" placeholder="Telephone en Cas d'Urgence" required="required">
                                </div>

                            </div>
                            <div class="tab-pane fade  in " id="sante">

                                <div class="">
                                    <select class="form-control" name="" th:field="*{drepanocytaire}">
                                        <option value="">Drepanocytaire</option>
                                        <option value="Oui">Oui</option>
                                        <option value="Non">Non</option>
                                    </select>
                                </div>

                                <div class="">
                                    <select class="form-control" name="" th:field="*{statutSport}">
                                        <option value=""> Sportif</option>
                                        <option value="Apte">Apte</option>
                                        <option value="Inapte">Inapte</option>
                                    </select>
                                </div>
                                <div class="">
                                    <input class="form-control" id="maladies_chronique" th:field="*{maladiesChronique}" type="text" placeholder="Maladies Chroniques" required="required">
                                </div>
                                <div class="">
                                    <select class="form-control" name="" th:field="*{rhesus}">
                                        <option value="">Rhésus</option>
                                        <option value="Positif">Positif(+)</option>
                                        <option value="Negative">Negative(-)</option>

                                    </select>
                                </div>
                                <div class="">
                                    <select class="form-control" name="" th:field="*{groupeSanguin}">
                                        <option value="">Groupe Sanguin</option>
                                        <option value="A+">A+</option>
                                        <option value="B+">B+</option>
                                        <option value="AB+">AB+</option>
                                        <option value="O+">O+</option>
                                        <option value="A-">A-</option>
                                        <option value="B">B-</option>
                                        <option value="AB">AB-</option>
                                        <option value="O-">O-</option>

                                    </select>
                                </div>

                            </div>
                            <div class="tab-pane fade in " id="discipline">

                            </div>
                            <div class="tab-pane fade  in " id="comportement">

                            </div>
                        </div>
                        <div class="bouttons" style="float:right">
                            <button class="btn btn-warning"><i class="icon-remove icon-white"></i> Cancel</button>
                            <button class="btn btn-success " style="background-color:#0099FF;"><i class="icon-plus icon-white"></i> Create</button>
                        </div>
                    </form> 

                </div>
                <!-- END CONTENT SECTION -->

                <!-- RIGTH SECTION -->
                <div class="rigth">

                </div>
                <!-- END RIGHT SECTION -->
                <!-- FOOTER SECTION -->
                <div class="footer">

                </div>
                <!-- END FOOTER SECTION -->
            </div>
        </div>
        <!-- GLOBAL SCRIPTS -->
        <!-- GLOBAL SCRIPTS -->
        <script th:src="@{assets/plugins/jquery-2.0.3.min.js}" src="assets/plugins/jquery-2.0.3.min.js"></script>
        <script th:src="@{assets/plugins/bootstrap/js/bootstrap.min.js}" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script th:src="@{assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js}" src="assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>

        <!-- END GLOBAL SCRIPTS -->

        <!-- PAGE LEVEL SCRIPTS -->
        <script th:src="@{assets/plugins/flot/jquery.flot.js}" src="assets/plugins/flot/jquery.flot.js"></script>
        <script th:src="@{assets/plugins/flot/jquery.flot.resize.js}" src="assets/plugins/flot/jquery.flot.resize.js"></script>
        <script th:src="@{assets/plugins/flot/jquery.flot.time.js}" src="assets/plugins/flot/jquery.flot.time.js"></script>
        <script th:src="@{assets/plugins/flot/jquery.flot.stack.js}"   src="assets/plugins/flot/jquery.flot.stack.js"></script>
        <script th:src="@{assets/js/for_index.js}" src="assets/js/for_index.js"></script>

        <!-- END PAGE LEVEL SCRIPTS -->


        <!-- END MAIN WRAPPER SECTION -->
    </body>
    <!-- END BODY SECTION -->
</html>
